   *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
        background-color: #020202;
    }

    body{
        background-color: #020202 ;
   }

   .container{
    background-color: #020202;
   }


.navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");}


  #lista-1{
    background-color: #020202;
    color: #FFFFFF;
  }

  #lista-2{
    background-color: #020202;
    color: #FFFFFF;
  }

  #lista-3{
    background-color: #020202;
    color: #FFFFFF;
  }

  @media (min-width: 320px) and (max-width: 426px){
    #titulo {
        font-size: large;
    }
    
    footer{
        background-color: #020202;
        font-size: small;
        padding-top: 40%;
        margin-top: 0%;
    } 


  }

  @media (min-width: 767px) and (max-width: 769px){
    #calesita{
        padding-right: 800px;
        }

    #lista{
        padding-left: 50px;
        padding-top: 70px;
    } 
    
    
    footer{
        
        
        padding-top: 200px;
    } 


    
    #foot-2{
           
        padding-left: 350px;

    }
   

  }

   @media (min-width: 1023px){

     #foot-2{

        padding-left: 570px;
    
     }

   #lista{
             
        padding-top: 80px;   

    }
   
    #calesita{ 
             
          padding-right: 400px ; 
    

    }


    footer{

        padding-top: 200px;
      
    }

  }



#calesita{
    padding-right: 40px;
    }

  .navbar-custom{
    background-color: #020202;
   }

   .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color:#FFFFFF;
        }
        .navbar-custom .nav-link:active {
            color: #FFFFFF;
        }

        .navbar-custom .nav-link:hover{
            color: #FFFFFF;
        }

        .navbar-custom .navbar-toggler {
            border-color: #FFFFFF; 
        }

        body{
            background-color: #020202;
        }
        main{
            background-color: #020202;
        }

        #portada{
            background-color: #020202;
             
        }


        footer{
            background-color: #020202;
        }

        .navbar-custom{
            background-color: #020202;
        }
        
        .navbar-custom .navbar-brand,
                .navbar-custom .nav-link {
                    color:#FFFFFF;
                }
             
        
                .navbar-custom .navbar-toggler {
                    border-color: #FFFFFF; 
                }


                .navbar-nav .nav-link:hover{
                    color: #FFFFFF;
                    background-color: #2a2a2b;
                   border-radius: 5px;

                }

        
                .card-custom{
                    background-color: #020202;
                }
        
        
                body{
                    background-color: #020202;
                }
               
            
               
                #medio{
                    padding-top: 20%;
                }

               
        
        .row{
            background-color: #020202;
        }
        
        .col{
            background-color: #020202;
        }
        
        .main{
            background-color: #020202;
            margin-bottom: 0;
        }
    
        .icon{
            max-width: 40px;
            max-height: 40px;

        }
       


 

