// estilos seccion footer

footer {
  background-color: $color-negro;
}

.icon {
  max-width: 40px;
  max-height: 40px;
}

.redes:hover {
  padding: 10px;
  transition: padding 0.5s;
}

.contacto {
  font-family: "DMsans";
  height: 700px;
  background-image: url("../assets/images/contacto.jpg");
  background-position: center;
  background-size: auto;
  padding-top: 0%;
}

.foot-c {
  padding-top: 10px;
  font-family: "DMsans";
}

.btn-custom-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}