*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'DMSans';
  src: url(../assets/fonts/DMSans_36pt-Regular.ttf);
 }

html{
      background-color: #020202;
  }

  #parrafo{
      font-size: 20px;
      font-family: 'DMsans';
      padding-top: 10px;

  }

  p{
      font-family: 'DMsans';
  }


  body{
      margin: 0;
      background-color: #020202 ;
 }

 .container{
  background-color: #020202;
 }